<div class="w-full rounded-xl p-3 bg-white">
  <div class="flex items-center justify-between gap-3 ">
    <button
      class="cursor-pointer rounded-full box-border w-[32px] h-[32px] border border-slate-200 flex items-center justify-center"
      (click)="shiftDate('backward')">
      <span class="material-icons-outlined">keyboard_arrow_left</span>
    </button>
    <p class="font-medium"> @if (gridType === calendarGrids.DATE) {
      <span class="cursor-pointer" (click)="toggleGridType(calendarGrids.MONTH)">{{ dateRef | date : "MMMM, " }}</span>
    } <span class="cursor-default">{{ dateRef | date : " yyyy" }}</span></p>
    <button
      class="cursor-pointer rounded-full box-border w-[32px] h-[32px] border border-slate-200 flex items-center justify-center"
      (click)="shiftDate('forward')">
      <span class="material-icons-outlined">keyboard_arrow_right</span>
    </button>
  </div>

  @if (gridType === calendarGrids.DATE) {
    <div class="grid grid-cols-7 gap-1 mt-3 rounded-lg box-border bg-slate-100">
      @for (week of weekDays; track generateRandomId()) {
        <div class="flex items-center justify-center">
          <div class="text-sm w-[36px] box-border text-center font-medium py-1 "> {{ week }}</div>
        </div>
      }
    </div>
    <div class="grid grid-cols-7 gap-1 mt-3  rounded-lg box-border">
      @for (day of prefixer; track generateRandomId()) {
        <div class="flex items-center justify-center font-medium">
          <span class="text-sm rounded-full w-[36px] h-[36px] box-border cursor-default"></span>
        </div>
      }
      @for (day of days; track generateRandomId()) {
        <div class="flex items-center justify-center font-medium">
          <button class="text-sm rounded-full w-[36px] h-[36px] box-border cursor-pointer border"
                  [class.border-slate-300]="alwaysActiveCurrentDate(day)"
                  [class.border-white]="!alwaysActiveCurrentDate(day)"
                  [class.hover:bg-blue-200]="!isCurrentDate(day)" [class.bg-blue-800]="isCurrentDate(day)"
                  [class.text-white]="isCurrentDate(day)" (click)="setCurrentDate(day)"> {{ day | date : "d" }}
          </button>
        </div>
      }
    </div>
  } @else if (gridType === calendarGrids.MONTH) {
    <div class="grid grid-cols-3 gap-1 mt-3 rounded-lg box-border ">
      @for (month of months; track generateRandomId(); let i = $index) {
        <div class="flex items-center justify-center">
          <button class="text-sm w-[36px] box-border text-center font-medium py-1 cursor-pointer"
                  (click)="setMonth(i)"> {{ month }}
          </button>
        </div>
      }
    </div>
  }
</div>
