<div class="p-4 bg-white rounded-xl">
  <div class="flex justify-between items-center">
    <div class="flex items-center gap-3">
      <div class="w-[32px] h-[32px]">
        <div class="relative rounded-lg w-full h-full bg-slate-200 box-border">
          <div class="top-0 w-full h-2 bg-red-500 rounded-t-lg"></div>
          <div class="w-full flex justify-center items-start text-black">
          </div>
        </div>
      </div>
      <h3 class="text-lg font-medium">Calendar.</h3>
    </div>
    <div class="flex items-center gap-3">
      <p class="text-sm font-medium ease-in-out">
        {{ today | date: 'EE, MMM yy h:mm a' }}
      </p>
      <button class="rounded-full w-[32px] h-[32px] flex items-center justify-center text-sm text-slate-800 cursor-pointer hover:bg-slate-200 transition-all">
        <span class="material-icons-outlined">notifications</span>
      </button>
    </div>
  </div>
</div>
