<div class="grid grid-cols-1 md:grid-cols-12 gap-4 box-border">
  <div class="w-full md:col-span-3 mt-4 rounded-xl box-border">
    <app-calendar-mini/>
  </div>
  <div class="w-full md:col-span-9 md:mt-4 box-border">
    <div class="rounded-xl bg-white p-4 box-border">
      <button class="flex items-center gap-1 bg-blue-800 text-white p-2 pe-4 rounded-lg">
        <span class="material-icons-outlined">add</span> Create Event
      </button>
    </div>
    <div class="mt-4 box-border">
      <app-events />
    </div>
  </div>
</div>
